<a href="https://colab.research.google.com/github/Mercurylonely/COLLAB/blob/main/Salinan_dari_DemoNormalisasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

#Import Data

In [ ]:
data = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Nama Produk': ['Sepatu Sneakers', 'Blender Elektrik', 'T-Shirt Pria', 'Meja Belajar Kayu',
                    'Laptop Gaming', 'Handphone Android', 'Kompor Gas 2 Tungku', 'Buku Motivasi',
                    'Tas Punggung', 'Rice Cooker'],
    'Kategori': ['Fashion', 'Elektronik', 'Fashion', 'Furniture', 'Elektronik', 'Elektronik',
                 'Rumah Tangga', 'Buku', 'Fashion', 'Elektronik'],
    'Harga (Rp)': [300000, 500000, None, 800000, 12000000, None, 400000, 90000, 200000, 350000],
    'Rating': [4.8, 4.5, 4.1, 4.9, 4.7, None, 3.9, 4.2, 4.6, 4.0],
    'Jumlah Ulasan': [120, 80, 45, 200, None, 100, 60, None, 95, 70],
    'Jumlah Terjual': [50, None, 100, 10, 5, 20, 70, None, 80, 40],
    'Status Promo': ['Promo', 'Tidak Promo', 'Promo', None, 'Tidak Promo', 'Promo', 'Tidak Promo', 'Promo', 'Tidak Promo', 'Promo'],
    'Stok': [500, 200, 80, 700, 300, 250, None, 110, 180, None],
    'Populer/Tidak Populer': ['Populer', 'Populer', 'Tidak Populer', 'Populer', 'Populer', 'Populer', 'Tidak Populer', 'Tidak Populer', None, 'Tidak Populer']
}

In [ ]:
df = pd.DataFrame(data)
print(df)

   ID          Nama Produk      Kategori  ...  Status Promo   Stok  Populer/Tidak Populer
0   1      Sepatu Sneakers       Fashion  ...         Promo  500.0                Populer
1   2     Blender Elektrik    Elektronik  ...   Tidak Promo  200.0                Populer
2   3         T-Shirt Pria       Fashion  ...         Promo   80.0          Tidak Populer
3   4    Meja Belajar Kayu     Furniture  ...          None  700.0                Populer
4   5        Laptop Gaming    Elektronik  ...   Tidak Promo  300.0                Populer
5   6    Handphone Android    Elektronik  ...         Promo  250.0                Populer
6   7  Kompor Gas 2 Tungku  Rumah Tangga  ...   Tidak Promo    NaN          Tidak Populer
7   8        Buku Motivasi          Buku  ...         Promo  110.0          Tidak Populer
8   9         Tas Punggung       Fashion  ...   Tidak Promo  180.0                   None
9  10          Rice Cooker    Elektronik  ...         Promo    NaN          Tidak Populer

[10 rows x 10 columns]

#Handling Missing Value

In [ ]:
# Mengisi missing value di kolom Harga dengan median per kategori
df['Harga (Rp)'] = df.groupby('Kategori')['Harga (Rp)'].transform(lambda x: x.fillna(x.median()))

In [ ]:
# Mengisi missing value di kolom Jumlah Ulasan dan Jumlah Terjual dengan 0
df['Jumlah Ulasan'].fillna(0, inplace=True)
df['Jumlah Terjual'].fillna(0, inplace=True)

<ipython-input-8-6198f6c91587>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Jumlah Ulasan'].fillna(0, inplace=True)
<ipython-input-8-6198f6c91587>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Jumlah Terjual'].fillna(0, inplace=True)

In [ ]:
# Mengisi missing value di kolom Status Promo dengan "Tidak Promo"
df['Status Promo'].fillna('Tidak Promo', inplace=True)

<ipython-input-9-9de1b880339f>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Status Promo'].fillna('Tidak Promo', inplace=True)

In [ ]:
# Mengisi missing value di kolom Stok dengan 0
df['Stok'].fillna(0, inplace=True)

<ipython-input-10-21ab6b190efb>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Stok'].fillna(0, inplace=True)

In [ ]:
# Mengisi missing value di kolom Populer/Tidak Populer dengan "Tidak Populer"
df['Populer/Tidak Populer'].fillna('Tidak Populer', inplace=True)

<ipython-input-11-107d33b1fb17>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Populer/Tidak Populer'].fillna('Tidak Populer', inplace=True)

#Menormalisasi Data yang ada

In [ ]:
scaler = MinMaxScaler()

In [ ]:
df[['Harga (Rp) Normalisasi', 'Jumlah Terjual Normalisasi']] = scaler.fit_transform(df[['Harga (Rp)', 'Jumlah Terjual']])

In [ ]:
df.head(10)

   ID          Nama Produk      Kategori  ...  Status Promo   Stok  Populer/Tidak Populer
0   1      Sepatu Sneakers       Fashion  ...         Promo  500.0                Populer
1   2     Blender Elektrik    Elektronik  ...   Tidak Promo  200.0                Populer
2   3         T-Shirt Pria       Fashion  ...         Promo   80.0          Tidak Populer
3   4    Meja Belajar Kayu     Furniture  ...   Tidak Promo  700.0                Populer
4   5        Laptop Gaming    Elektronik  ...   Tidak Promo  300.0                Populer
5   6    Handphone Android    Elektronik  ...         Promo  250.0                Populer
6   7  Kompor Gas 2 Tungku  Rumah Tangga  ...   Tidak Promo    0.0          Tidak Populer
7   8        Buku Motivasi          Buku  ...         Promo  110.0          Tidak Populer
8   9         Tas Punggung       Fashion  ...   Tidak Promo  180.0          Tidak Populer
9  10          Rice Cooker    Elektronik  ...         Promo    0.0          Tidak Populer

[10 rows x 10 columns]

#Mendiskritisasi berdasarkan Stock ? kategori Harga ?

In [ ]:
#Diskritisasi untuk Harga
def kategori_harga(harga):
    if harga < 500000:
        return 'Murah'
    elif 500000 <= harga <= 2000000:
        return 'Sedang'
    else:
        return 'Mahal'

In [ ]:
df['Kategori Harga'] = df['Harga (Rp)'].apply(kategori_harga)

In [ ]:
#Diskritisasi untuk Rating
def kategori_rating(rating):
    if rating is None:
        return 'Tidak Ada'
    elif rating < 3.0:
        return 'Rendah'
    elif 3.0 <= rating <= 4.4:
        return 'Sedang'
    else:
        return 'Tinggi'

In [ ]:
df['Kategori Rating'] = df['Rating'].apply(kategori_rating)

In [ ]:
#Diskritisasi untuk stock
def kategori_stok(stok):
    if stok < 100:
        return 'Rendah'
    elif 100 <= stok <= 300:
        return 'Sedang'
    else:
        return 'Tinggi'

In [ ]:
df['Kategori Stok'] = df['Stok'].apply(kategori_stok)

#Dataset baru yang sudah di proses normalisasikan dan di diskritkan

In [ ]:
print(df[['ID', 'Nama Produk', 'Kategori', 'Harga (Rp)', 'Harga (Rp) Normalisasi', 'Kategori Harga',
          'Rating', 'Kategori Rating', 'Jumlah Ulasan', 'Jumlah Terjual', 'Jumlah Terjual Normalisasi',
          'Status Promo', 'Stok', 'Kategori Stok', 'Populer/Tidak Populer']])

   ID          Nama Produk      Kategori  ...   Stok  Kategori Stok Populer/Tidak Populer
0   1      Sepatu Sneakers       Fashion  ...  500.0         Tinggi               Populer
1   2     Blender Elektrik    Elektronik  ...  200.0         Sedang               Populer
2   3         T-Shirt Pria       Fashion  ...   80.0         Rendah         Tidak Populer
3   4    Meja Belajar Kayu     Furniture  ...  700.0         Tinggi               Populer
4   5        Laptop Gaming    Elektronik  ...  300.0         Sedang               Populer
5   6    Handphone Android    Elektronik  ...  250.0         Sedang               Populer
6   7  Kompor Gas 2 Tungku  Rumah Tangga  ...    0.0         Rendah         Tidak Populer
7   8        Buku Motivasi          Buku  ...  110.0         Sedang         Tidak Populer
8   9         Tas Punggung       Fashion  ...  180.0         Sedang         Tidak Populer
9  10          Rice Cooker    Elektronik  ...    0.0         Rendah         Tidak Populer

[10 rows x 15 columns]

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
print(df)

   ID          Nama Produk      Kategori  Harga (Rp)  Rating  Jumlah Ulasan  \
0   1      Sepatu Sneakers       Fashion    0.017632     4.8          120.0
1   2     Blender Elektrik    Elektronik    0.034425     4.5           80.0
2   3         T-Shirt Pria       Fashion    0.013434     4.1           45.0
3   4    Meja Belajar Kayu     Furniture    0.059614     4.9          200.0
4   5        Laptop Gaming    Elektronik    1.000000     4.7            0.0
5   6    Handphone Android    Elektronik    0.034425     NaN          100.0
6   7  Kompor Gas 2 Tungku  Rumah Tangga    0.026029     3.9           60.0
7   8        Buku Motivasi          Buku    0.000000     4.2            0.0
8   9         Tas Punggung       Fashion    0.009236     4.6           95.0
9  10          Rice Cooker    Elektronik    0.021830     4.0           70.0

   Jumlah Terjual Status Promo   Stok Populer/Tidak Populer Kategori Harga  \
0            50.0        Promo  500.0               Populer          Murah
1             0.0  Tidak Promo  200.0               Populer          Murah
2           100.0        Promo   80.0         Tidak Populer          Murah
3            10.0  Tidak Promo  700.0               Populer          Murah
4             5.0  Tidak Promo  300.0               Populer          Murah
5            20.0        Promo  250.0               Populer          Murah
6            70.0  Tidak Promo    0.0         Tidak Populer          Murah
7             0.0        Promo  110.0         Tidak Populer          Murah
8            80.0  Tidak Promo  180.0         Tidak Populer          Murah
9            40.0        Promo    0.0         Tidak Populer          Murah

  Kategori Rating Kategori Stok  Harga (Rp) Normalisasi  \
0          Tinggi        Tinggi                0.017632
1          Tinggi        Sedang                0.034425
2          Sedang        Rendah                0.013434
3          Tinggi        Tinggi                0.059614
4          Tinggi        Sedang                1.000000
5          Tinggi        Sedang                0.034425
6          Sedang        Rendah                0.026029
7          Sedang        Sedang                0.000000
8          Tinggi        Sedang                0.009236
9          Sedang        Rendah                0.021830

   Jumlah Terjual Normalisasi
0                        0.50
1                        0.00
2                        1.00
3                        0.10
4                        0.05
5                        0.20
6                        0.70
7                        0.00
8                        0.80
9                        0.40